:root {
    --text-color: rgba(0, 0, 0, 0.6);
    --font-size: 16px;
    --bg-color: #E7FAFE;
    --btn-bg: rgba(0, 0, 0, 0.05);
    --bg-gradient: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.header-text {
    border-radius: 8% 0% 0% 8%;
    margin-right: 0;
    background: var(--bg-color);
}
.top-left-badge {
    max-width:38%;
    background-color: #fff;
}
.header-text h1 {
    font-size: 64px;
}
.header-btn {
    background: var(--btn-bg);
}
.top-right-badge {
    margin-left: -58px;
}
.header-image {
    border-radius: 0% 8% 8% 0%;
}
.categories {
    background: var(--bg-color);
}
.breakfast {
    background: linear-gradient(180deg, rgba(94, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
}
.vegan {
    background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
}
.meat {
    background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
}
.dessart {
    background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
}
.lunch {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.chocholate {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.recipe-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: var(--font-size);
}
.gradient-bg {
    background: var(--bg-gradient);
    position: relative;
}
.react-icon {
    position: absolute;
    top: 50px;
    right: 40px;
    z-index: 1;
}
.chef-image-container {
    background: var(--bg-gradient);
}
.chef-image {
    margin-left: -52px;
}